.page-2 {
    background-color: #fbfbfd;
    height: 85vh;
    background: url('../assets/hero_iphone_13pro__dhnsegysa42u_medium_2x.jpg') top/cover;
    margin-bottom: 10px;


}

.page-2 .top-section {
    padding-top: 50px;
}


.page-2 .links .second{
    margin-left: 20px;
}

.page-2 .links {
    margin-top: 10px;
}







